@model IEnumerable<RailwayReservationMVC.Models.TrainDetails>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Homepage </title>
</head>
<body>

    <!--Navbar for Homepage-->
    <nav class="navbar navbar-expand-lg bg-info fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">RailYatri</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Home/Homepage">Home</a>
                    </li>

                </ul>
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/LogIn">LogIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/SignUp">SignUp</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <!--Search Trains-->
    @using (Html.BeginForm("Homepage", "Home", FormMethod.Post))
    {
        @Html.TextBox("searching")
        <input type="submit" value="Search" />
    }
    <table class="table table-striped">
        <thead>
            <tr>
               
                <th>Train Name</th>
                <th>Departure</th>
                <th>Destination</th>
                <th>Fare</th>
                <th>Arrival time</th>
                <th>Departure Time</th>
                <th>Total Seat</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3" style="color:red">
                        No matchh any document
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                       
                        <td>@item.TrainName</td>
                        <td>@item.SourceStation</td>
                        <td>@item.DestinationStation</td>
                        <td>@item.Fare</td>
                        <td>@item.ArrivalTime</td>
                        <td>@item.DepartureTime</td>
                        <td>@item.TotalSeats</td>
                    </tr>
                }



            }
        </tbody>
    </table>


</html>