@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Train_id</th>
            <th>Train Name</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Fare</th>
            <th>Arrival time</th>
            <th>Departure Time</th>
            <th>Total Seat</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No matchh any document
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Train_id</td>
                    <td>@item.TrainName</td>
                    <td>@item.SourceStation</td>
                    <td>@item.DestinationStation</td>
                    <td>@item.Fare</td>
                    <td>@item.ArrivalTime</td>
                    <td>@item.DepartureTime</td>
                    <td>@item.TotalSeats</td>
                </tr>
            }



        }
    </tbody>
</table>
